.contact {
  background: rgba(250, 250, 250, 1);
}

.contact__form-cont {
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.contact__form {
  background: #fff;
  padding: 5rem;
}

@media (max-width: 56.25em) {
  .contact__form-cont {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 37.5em) {
  .contact__form-cont {
    grid-template-columns: 1fr;
  }

  .contact__form {
    padding: 3rem;
  }
}

.contact__form-field {
  margin-bottom: 3rem;
}

.contact__form-field-label {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #444;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.contact__form-field-input {
  display: block;
  padding: 2rem;
  width: 100%;
  border: 1px solid rgba(225, 225, 225, 1);
  font-size: 1.6rem;
  resize: none;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.contact__form-field-input::placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input:-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input::-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input:-moz-placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input::-moz-placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__form-field-input:focus {
  outline: none;
}

.contact__form-submit {
  padding: 2rem;
  width: 100%;
  font-size: 1.6rem;
  border: none;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
  background: rgba(var(--themeColor), 1);
  color: #fff;
  margin-top: 4rem;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.contact__form-visual {
  background-image: url("https://i.postimg.cc/mrHQw69n/contact-form-bg.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

@media (max-width: 37.5em) {
  .contact__form-visual {
    display: none;
  }
}

.contact__form-visual::after {
  content: "";
  position: absolute;
  z-index: 20;
  background: rgba(var(--themeColor), 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}