#contact {
  padding: 4rem;
}
.contact {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;
}

.contact__form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;
  padding: 4rem;
  max-width: 80rem;
  text-align: center;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__form-field {
  margin-bottom: 4rem;
}

.contact__form-container form {
  width: 80%;
}

.col {
  font-size: 1.35rem;
}

.contact-form-input {
  font-size: 1.75rem;
  color: black;
}

.mb-3 {
  gap: 10px;
}

@media only screen and (max-width: 37.5em) {
  .contact__form-container {
    padding: 1rem;
  }
  .contact__form-field {
    margin-bottom: 3rem;
  }
  #contact {
    padding: 0.5rem;
  }
  .contact__form-container form {
    width: 85%;
  }
  .col {
    flex: auto;
  }
}
