.contact {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;
}

.contact__form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;
  padding: 4rem;
  max-width: 80rem;
  text-align: center;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-row-1 {
  display: flex;
  gap: 1rem;
}

.contact-form-div,
.contact-message-div {
  background-color: #fff;
  margin: 1rem auto;
  color: black;
  display: flex;
  flex-direction: column;
}

.contact-form-input {
  font-size: 1.5rem;
  color: black;
  padding: 1.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 1px solid var(--med-dark-blue);
  border-radius: 5px;
  font-weight: 600;
}

.contact-message-div textarea {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
}

.contactform label,
.contactform .show {
  text-align: left;
  font-weight: 700;
}

.contactform label{
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.contactform .show {
  font-size: 1.35rem;
  background-color: #FFBABA;
  color: #D8000C;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

@media only screen and (max-width: 56.25em) {
  .sec-pad {
    padding: 8rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .contact__form-container {
    padding: 2rem 1rem;
    margin: -5rem 0 5rem;
  }
  #contact {
    padding: 0.5rem;
  }
  .form-row-1 {
    flex-wrap: wrap;
    gap: 0;
  }
  .contact-form-div {
    margin: 0.5rem auto;
    width: -webkit-fill-available;
  }
}
