/* Main Header Stylings */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 100px -5px var(--light-med-blue);
  z-index: 1000;
  background: var(--light-light-blue);
}

.main-header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-header__logo-img-cont {
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 10rem;
  background: rgba(var(--themeColor), 1);
}

.main-header__sm-scr-nav-btn {
  padding: 1rem 1rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .main-header__sm-scr-nav-btn {
    display: block;
  }
}

.main-header__sm-scr-nav-btn-line {
  height: 1px;
  background: var(--dark-dark-blue);
  width: 3rem;
  border-radius: 50px;
}

.main-header__sm-menu {
  background: var(--light-light-blue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  transform: translateX(-100%);
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__sm-menu-close {
  position: absolute;
  top: 3.3rem;
  right: 2.5rem;
  width: 3rem;
  height: 3rem;
}

.main-header__sm-menu-close:before,
.main-header__sm-menu-close:after {
  position: absolute;
  content: " ";
  height: 3rem;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}

.main-header__sm-menu-close:before {
  transform: rotate(45deg);
}

.main-header__sm-menu-close:after {
  transform: rotate(-45deg);
}

.main-header__sm-menu--active {
  transform: translateX(0);
}

.main-header__sm-menu-links {
  width: 90%;
}

.main-header__sm-menu-link {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 2.5rem;
  text-align: center;
  display: block;
  padding: 3rem;
  color: #555;
}

.main-header__sm-scr-nav-btn-line:first-child {
  margin-bottom: 8px;
}

@media (max-width: 37.5em) {
  .main-header {
    padding: 2.3rem 1.5rem;
  }

  .main-header__logo-img-cont {
    margin-right: 1rem;
  }
}

.main-header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-header__logo-text {
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
}

.main-header__navigation-links {
  display: flex;
  align-items: center;
}

.main-header__navigation-link {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
}

@media (max-width: 56.25em) {
  .main-header__navigation-link {
    padding: 1.3rem 1.5rem;
  }
}

@media (max-width: 37.5em) {
  .main-header__navigation-links {
    display: none;
  }
}
